body {
    background: url("img/background.png");
}

#bottom {
    height: 100px;
    width: 100%;
    background: #F8F8F8;
    color: #777;
}
#bottom .notice {
    padding-top: 15px;
    text-align: center;
    font-size: 17px;
}
.bg-max {
    padding: 10px;
    font-size: 17px;

}